[submodule "emacs/lisp/chruby"]
	path = emacs/lisp/chruby
	url = git@github.com:plexus/chruby.el.git
[submodule "emacs/lisp/psc-ide"]
	path = emacs/lisp/psc-ide
	url = git@github.com:purescript-emacs/psc-ide-emacs.git
[submodule "emacs/lisp/spark"]
	path = emacs/lisp/spark
	url = git@github.com:alvinfrancis/spark.git

# TODO: Submodulify these:
# [submodule "agda-mode"]
#   path = emacs/lisp/agda-mode
#   url = git@github.com:agda/agda.git
# [submodule "inheritance-theme"]
#   path = emacs/lisp/inheritance-theme
#   url = git@git.data.coop:fredefox/dotfiles.git
# [submodule "monokai-dark-theme"]
#   path = emacs/lisp/monokai-dark-theme
#   url = git@git.data.coop:fredefox/dotfiles.git
# [submodule "ruby-trace-mode"]
#   path = emacs/lisp/ruby-trace-mode
#   url = git@git.data.coop:fredefox/dotfiles.git
