/emacs/.cache/
/emacs/.lsp-session-v1
/emacs/eln-cache/
/emacs/elpa/
/emacs/projectile-bookmarks.eld
/emacs/recentf
/emacs/transient/
/zsh/.zcompdump*
/emacs/projects
/emacs/.extension/
/emacs/lsp-cache/
/emacs/session.*
/emacs/tree-sitter/
/emacs/tramp
/emacs/.dap-breakpoints
/emacs/dap-ui-repl-php-history
/emacs/url/
/emacs/forge-database.sqlite
