/emacs/.cache/
/emacs/.lsp-session-v1
/emacs/eln-cache/
/emacs/elpa/
/emacs/projectile-bookmarks.eld
/emacs/recentf
/emacs/transient/
/zsh/.zcompdump
/zsh/.zcompdump-x1-5.9
/zsh/.zcompdump-x1-5.9.zwc
